* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    font-size: 40px;
}

section {
    display: flex;
    margin: 20px 0;
    height: 300px;
    border: 5px solid black;
}

.square {
    width: 200px;
    text-align: center;
}


.one {
    background-color: gold;
}

.two {
    background-color: lime;
}

.three {
    background-color: royalblue;
}

.four {
    background-color: tomato;
}